* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 20% 80%/ 20% 80%;
}



/* Header */
.header {
  grid-column: 2/3;
  grid-row: 1/2;

  display: grid;
  grid-template-rows: 1fr 1fr;
}



/* Upper Header */
.upper-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-container,
.profile-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-search {
  height: 85%;
}

#search-bar {
  border-radius: 20px;
  padding: 5px;
  width: 30vw;
  background-color: #e2e8f0;
  border: none;
}

.icon-notification {
  height: 25px;
  width: auto;
}

.header-small-profile {
  height: 40px;
  width: auto;
  border-radius: 20px;
  margin-left: 18px;
}

.profile-container > p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}


/* Lower Header */
.lower-header {
  background-color: lightgreen;
}



/* Sidebar */
.sidebar {
  background-color: lightcoral;
  grid-column: 1/2;
  grid-row: 1/3;
}



/* Main */
main {
  background-color: lightgrey;
  grid-column: 2/3;
  grid-row: 2/3;
}