* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 20% 80%/ 20% 80%;
}



/* Header */
.header {
  grid-column: 2/3;
  grid-row: 1/2;

  display: grid;
  grid-template-rows: 1fr 1fr;

  padding-bottom: 10px;
}



/* Upper Header */
.upper-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-container,
.profile-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-search {
  height: 85%;
  cursor: pointer;
}

#search-bar {
  border-radius: 20px;
  padding: 5px;
  width: 30vw;
  background-color: #e2e8f0;
  border: none;
}

.icon-notification {
  height: 25px;
  width: auto;
  cursor: pointer;
}

.header-small-profile {
  height: 40px;
  width: auto;
  border-radius: 20px;
  margin-left: 18px;
  cursor: pointer;
}

.profile-container > p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}


/* Lower Header */
.lower-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.current-user-container {
  display: flex;
  gap: 15px;
}

.header-big-profile {
  height: 80px;
  width: auto;
  border-radius: 40px;
  cursor: pointer;
}

.user-greeting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-greeting-container > p {
  font-weight: bold;
  margin-bottom: 5px;
}

.user-greeting-container > h2 {
  cursor: pointer;
}

.create-container {
  display: flex;
  gap: 25px;
}

.create-container > button {
  background-color: #1a92d3;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  background-color: #1a92d3;
  grid-column: 1/2;
  grid-row: 1/3;

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 2fr 2fr;
  padding: 15px;
}



/* Main */
main {
  background-color: lightgrey;
  grid-column: 2/3;
  grid-row: 2/3;
}
